body{
    display: flex;
    /* justify-content: center; */
    background-color: #E8C2CA;

    
}

/* Main container styling */
.main{
    color:#011638;
    justify-content: center;
    align-items: center;

}

/* Link styling */
a{
    color: #011638;
}