body{
    display: flex;
    /* justify-content: center; */

    
}

/* Main container styling */
.main{
    color:black;
    justify-content: center;
    align-items: center;

}

/* Link styling */
a{
    color: black;
}